{% extends 'base.html' %}

{% block title %}WHOSE HOUSE??{% endblock %}

{% block content %}

<br/>

{% if api %}
    {% if api == "Error..."%}
        There was an error, please try again...
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">{{ api.0.Category.Name }}</h1>
            <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div>
        
    {% endif %}

{% endif %}



{% endblock %}
